<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  

  <div id = "app">
    <div v-if="renderA">a</div>
    <div v-if="renderA">b</div>
    <div v-if="renderA">c</div>
    <div v-if="renderB">d</div>
    <div v-if="renderB">e</div>
    <div v-if="renderC">f</div>
    <div v-if="renderC">g</div>
    <button @click="mkk">go</button>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el : "#app",
      data(){
        return {
          renderA: true,
          renderB: false,
          renderC: false,
        }
      },
      methods: {
        mkk(){
          if(this.renderA){
            this.renderA = false
            this.renderB = true
            this.renderC = false
          }
          else if(this.renderB){
            this.renderA = false
            this.renderB = false
            this.renderC = true
          }
          else if(this.renderC){
            this.renderA = true
            this.renderB = false
            this.renderC = false
          }
          
        }
      }
    })
  </script>


</body>
</html>