<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  

  <div id = "app">
    
    <ol>
      <li v-if="todo.done" v-for="todo in todos">{{todo.text}}</li>
    </ol>
    
  </div>

  

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

  <script>
    const app = new Vue({
      el : "#app",
      data(){
        return {
          todos : [
            {id: 1, text: "치킨먹기", done: true},
            {id: 2, text: "피자먹기", done: true},
            {id: 3, text: "햄버거먹기", done: false},
            {id: 4, text: "라면먹기", done: false},
            {id: 5, text: "주워먹기", done: true},
          ]
        }
      },
      
    })
  </script>


</body>
</html>