header>nav{
    display: flex;
    justify-content: space-between;        
}

.header-nav{
    display: flex;    
    
}

.header-ul{
    display: flex;
    padding: 0;
    /* 안쪽 여백 지우기 */
    list-style: none;
    align-items: center;
    
}
.gmail-button{
    text-decoration: none;
}
.header-ul>li{
    
    margin: 5px;
}

.main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-logo{
    width: 272px;
}

.search-container{
    margin-top: 50px;
    position: relative;
}

.search-input{
    width: 560px;
    height: 44px;
    border-radius: 33px;
    padding-left: 40px;
    border: 1px solid #dddddd;
}

.search-icon{
    width: 17px;
    position: absolute;
    left: 13px;
    top: 15px;
}

.image-icon-wrapper{
    width: 60px;
    height: 60px;
    background-color: #f1f2f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-icon-wrapper>img{
    width: 70%;
    height: 70%;
}

.bookmark-wrapper{
    display: flex;   
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    margin-top: 30px;
    
}

.bookmark-item{
    width: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* a태그 기본옵션 밑줄없애기 */
    text-decoration: none;
    margin-top: 30px;
}

/* hover는 마우스커서를 대고 있을 때의 상황을 의미 */
.bookmark-item:hover{
    /* 투명도관련 css */
    opacity: 0.5;
    cursor: pointer;
}

.toggle-button{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.text{
    color: black;
}

.toggle-button-darkmode{
    background-color: white;
    color: black;
}

/* 우선순위 주고싶을때 !important 부여시 우선순위가 올라간다 */

.body-background-darkmode{
    background-color: black;
}

.text-darkmode{
    color: white;
}
